<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="student" class="com.He.pojo.Student">
        <!--        普通值注入-->
        <property name="name" value="001"/>
        <!--        Bean注入-->
        <property name="address" ref="address"/>
        <!--        数组注入-->
        <property name="books">
            <array>
                <value>红楼梦</value>
                <value>水浒传</value>
                <value>三国演义</value>
            </array>
        </property>
        <!--        list注入-->
        <property name="hobbys">
            <list>
                <value>听歌</value>
                <value>看电影</value>
                <value>敲代码</value>
            </list>
        </property>
        <!--        map注入-->
        <property name="card">
            <map>
                <entry key="身份证" value="1111111111111"/>
                <entry key="银行卡" value="1111111111112"/>
            </map>
        </property>
        <!--        set注入-->
        <property name="games">
            <set>
                <value>111</value>
                <value>222</value>
                <value>333</value>
            </set>
        </property>
        <!--        null-->
        <property name="wife">
            <null/>
        </property>
        <!--        Properties-->
        <property name="info">
            <props>
                <prop key="学号">1111111</prop>
                <prop key="性别">男</prop>
                <prop key="用户名">001</prop>
            </props>
        </property>
    </bean>
    
    <bean id="address" class="com.He.pojo.Address"/>
</beans>